/*

	ROCK PAPER SCISSORS LIZARD SPOCK
	author: Alex Ly	

*/
html,
body {
  height: 105%; }

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 0; }

.h1, h1 {
  font-size: 2.4em;
  margin-top: 10px; }

.main-title {
  font-size: 2.3em; }

@-webkit-keyframes startblink {
  0% {
    background: #040AFE;
    color: #F3FC00; }
  50% {
    background: #0105c4;
    color: brighten(#F3FC00, 15%);
    border: 5px solid #F3FC00; }
  100% {
    background: #040AFE;
    color: #F3FC00; } }
@keyframes startblink {
  0% {
    background: #040AFE;
    color: #F3FC00; }
  50% {
    background: #0105c4;
    color: brighten(#F3FC00, 15%);
    border: 5px solid #F3FC00; }
  100% {
    background: #040AFE;
    color: #F3FC00; } }
/* GAME START AREA */
.game-start-area,
.game-area,
.game-finish-area {
  height: 100%;
  width: 100%;
  color: #FFFC03; }

.game-start-area {
  background: #4A53FF; }

.round-choose-info-area {
  padding: 10px 0; }

.rounds-display {
  border: 5px solid black;
  border-radius: 20px; }

.rounds-display-number {
  font-size: 5em;
  visibility: hidden; }

.rounds-display-title {
  font-size: 1.5em; }

.round-choose-title {
  font-size: 1.7em; }

.round-buttons-col {
  padding: 10px 0; }

.game-rules,
.game-rules:link,
.game-rules:active {
  font-size: 1.25em;
  color: #FFFC03;
  text-decoration: none;
  padding-right: 7px;
  transition: all 2s; }

.game-rules:hover {
  color: #fffd36; }

.modal-content {
  background: #0008a1; }

.rules {
  font-size: 1.2em; }

/* GAME AREA */
.game-area {
  background: #0008a1;
  display: none; }

.score-area {
  padding: 20px 0 0 0; }

.game-area-score {
  font-size: 1.3em; }

.choice-area {
  padding-bottom: 30px; }

.final-button-area {
  margin-top: 30px;
  display: none; }

/* GAME FINISH AREA */
.game-finish-area {
  background: #00067d;
  display: none; }

.overall-winner {
  font-size: 2.5em;
  color: red; }

@media screen and (min-width: 1200px) {
  .choice-row {
    padding-top: 25%; }

  .score-area {
    padding: 50px 0; }

  .game-area-score {
    font-size: 4em; } }
.round-button,
.start-button {
  outline: none;
  box-shadow: none; }

.round-button {
  border: 3px solid #151515;
  background: #040AFE;
  color: #F3FC00;
  font-size: 1.7em;
  border-radius: 50%;
  width: auto;
  height: 60px;
  width: 60px;
  transition: all 1.3s, font-weight 0.5s; }

.round-button:hover {
  border: 3px solid #F3FC00;
  font-weight: bold;
  background: #01049b; }

.start-button,
.start-button:active {
  border: 5px solid #151515;
  background: #040AFE;
  color: #F3FC00;
  border-radius: 5px;
  font-size: 2.75em;
  margin: 20px 0; }

.start-button:hover {
  animation: startblink 2s infinite; }

.choice-button {
  border: 4px solid #FFFC03;
  color: #FFFC03;
  font-size: 10em;
  cursor: pointer;
  padding: 25px; }

.choice-button:hover {
  box-shadow: inset 0 0 20px #cfcd00; }

.final-button {
  font-size: 3em;
  padding: 20px 0; }

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .choice-button {
    font-size: 6em;
    margin-bottom: 10px;
    min-width: 160px; } }
@media screen and (max-width: 479px) {
  .choice-button {
    font-size: 4em;
    border: 0;
    padding: 20px; }

  .choice-button:hover {
    box-shadow: none; } }

/*# sourceMappingURL=style.css.map */
