@-webkit-keyframes startblink{
	0%{background: #040AFE; color: #F3FC00;}
	50%{background: darken(#040AFE, 12%); color: brighten(#F3FC00, 15%); border: 5px solid #F3FC00;}
	100%{background: #040AFE; color: #F3FC00;}
}

@keyframes startblink{
	0%{background: #040AFE; color: #F3FC00;}
	50%{background: darken(#040AFE, 12%); color: brighten(#F3FC00, 15%); border: 5px solid #F3FC00;}
	100%{background: #040AFE; color: #F3FC00;}
}