// SECTIONS

/* GAME START AREA */
.game-start-area,
.game-area,
.game-finish-area{
	height: 100%;
	width: 100%;
	color: $choice-buttons;
}

.game-start-area{
	background: $game-start-back;
}

.round-choose-info-area{
	padding: 10px 0;
}

.rounds-display{
	@include solid-border('all', 5px, black);
	border-radius: 20px;
}

.rounds-display-number{
	font-size: 5em;
	visibility: hidden;
}

.rounds-display-title{
	font-size: 1.5em;
}

.round-choose-title{
	font-size: 1.7em;
}

.round-buttons-col{
	padding: 10px 0;
}

.game-rules,
.game-rules:link,
.game-rules:active{
	font-size: 1.2em;
	color: $choice-buttons;
	text-decoration: none;
	transition: all 2s;
}

.game-rules:hover{
	color: lighten($choice-buttons, 10%);
	font-size: 1.3em;
}

/* GAME AREA */
.game-area{
	background: $game-back;
	display: none;
}

.score-area{
	padding: 20px 0 0 0;
}

.game-area-score{
	font-size: 1.3em;
}

.choice-area{
	padding-bottom: 30px;
}

/* GAME FINISH AREA */
.game-finish-area{
	background: $game-finish-back;
	display: none;
}

.overall-winner{
	font-size: 2.5em;
	color: red;
}

// MEDIA QUERIES
@media screen and (min-width: 1200px){
	.score-area{
		padding: 50px 0;
	}

	.game-area-score{
		font-size: 4em;
	}
}